@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    width: auto;


}

.footer {
    background: rgba(11, 113, 37, 0.1);
    margin-top: 100px;
    padding-top: 35px;

}

.contenfooter {
    display: flex;
    justify-content: start;
}



.cardfooter .img {
    margin-top: -15px;
}

.footer .cardfooter {
    /* display: block; */
    /* width: 100%;
    height: 430px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 47px rgba(85, 85, 85, 0.25);
    border-radius: 0px 50px;
    /* margin-left: 200px; */
    padding: 50px;
}

/* .footer .cardfooter .logofooter {
    margin-left: 30px;
}

.footer .cardfooter .imgiconfooter {
    margin-left: 50px;
} */

.footer .cardfooter .imgiconfooter .imgfooter1 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter1 p {
    margin-top: 5px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter1 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #555555;
}

.footer .cardfooter .imgiconfooter .imgfooter1 img {
    /* height: 60px;
    margin-left: -5px; */
}

.footer .cardfooter .imgiconfooter .imgfooter2 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter2 p {
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter2 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #555555;
}

.footer .cardfooter .imgiconfooter .imgfooter2 img {
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

.footer .cardfooter .imgiconfooter .imgfooter3 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter3 p {
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter3 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #555555;

}

.footer .cardfooter .imgiconfooter .imgfooter3 label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #0B7125;
}

.footer .cardfooter .imgiconfooter .imgfooter3 img {
    margin-top: 30px;
    margin-left: 3px;
    width: 50px;
    height: 50px;
}

.footer .contenfooter {
    display: flex;
}

.footer .contenfooter h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */


    color: #555555;
}

.footer .contenfooter li {
    list-style: none;
}

.footer .contenfooter li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */
    transition: 0.4s;
    color: rgba(85, 85, 85, 0.7);
}

.footercopyright {
    padding: 1em 0 1em 0;
    text-align: center;
}

.footercopyright footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px ;
    text-align: center;
    color: rgba(85, 85, 85, 0.7);
}

.footercopyright footer font {
    color: #0B7125;
}

.icon-sosial .fa{
    margin-bottom: 15px;
}

.icon-sosial a{
    text-decoration: none;
}
.icon-sosial .fa{
    font-size: 2em;
    color: rgba(85, 85, 85, 0.7);
}
.icon-sosial .text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    margin-left: 10px;
    color: rgba(85, 85, 85, 0.7);
}
.icon-sosial .icon-fb .fa{
    /* margin-top: 15px; */
    margin-right: 0.5em;
    font-size: 1.6em;
}

a.whatsapp-icon{
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    border-radius: 50%;
    background: #0B7125;
    width: 70px;
    height: 70px;
    text-decoration: none;
    right: 20px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);
}
a.whatsapp-icon .fa{
    padding: 16px 15px 15px 15px;
    font-size: 2.5em;
    display: flex;
    color: #FFFFFF;
    
    justify-content: center;
    align-items: center;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0B7125; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px;/* Some padding */
    border-radius: 50%; /* Rounded corners */
     /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
#myBtn .fa{
    font-size: 2em;
}
@media (min-width: 768px) {
    .contenfooter {
        justify-content: end;
    }

    .footer .cardfooter {
        width: 150%;
    }
}