@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    border-bottom: 2.5px solid rgba(119, 119, 119, 0.5);
    padding-top: -200px;

}

.header .navbar-brand {
    height: 100px !important;
}

.header .logo {
    width: 100%;
    margin-top: -5px;
}

.header .iconjam {
    margin-top: -18px;
}

.header .day {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    margin-left: 10px;
    /* identical to box height */
    color: #555555;
}

.header .text {
    color: #0B7125;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}

.header .icon {
    margin-top: 10px;
}





.navbar {
    box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.2);
}

.navbar .nav-link {
    font-weight: 500 !important;
    color: #555555 !important;
}

.navbar .nav-link:hover {
    color: #0B7125 !important;
}

.navbar li .call {
    margin-left: 90px;
}
.navbar li a span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(85, 85, 85, 0.7);
}

.navbar .navbar-nav .icon-kontak{
    margin-left: 50px;
}

.icon-kontak a {
    text-decoration: none;
}

.icon-kontak a span {
    color: #0B7125;
}



.dropdown-menu .dropdown-item:hover {
    color: #0B7125;
}



/* Dropdown Button */
.dropdown-layanan span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #555555;
    cursor: pointer;
}

.dropdown-layanan span:hover {
    color: #0B7125;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-layanan {
    position: relative;
    margin-top: 8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: auto;
    box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.2);
}


/* Links inside the dropdown */
.dropdown-content .item a {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-transform: capitalize;
}

.dropdown-content .item {
    width: 150px;
}

.dropdown-content .item p a{
    font-size: 18px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#0B7125;
color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown-layanan:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */


@media (min-width: 768px) {
    .header .logo {
        width: 150px;
    }

    .header .day {
        font-weight: 500;
        font-size: 18px;
    }

    .header .text {
        font-weight: 700;
        font-size: 18px;
    }
    .navbar .navbar-nav{
        font-size: 18px;
    }
}