.no_shadow {
box-shadow: none !important;
}


/*hero*/

.hero .judul{
font-style: normal;
font-weight: 600;
font-size: 36px;
color: #0B7125;
text-transform: capitalize;
}

.hero .desk{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #555555;
    text-transform: capitalize;
}

.hero img {
    width: 70%;
    height: 400px;
    border-radius: 100px 0;
} 






.sponsor img{
filter: saturate(0);
}

.sponsor img:hover {
    filter: saturate(1);
    transition: .3s;
    box-shadow: 0px 16px 53px 4px rgba(149, 149, 149, 0.25);
border-radius: 10px;

}



/*about*/
.about h1{
    color: #555555;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    
}    

.about h1 span {
    color: #0B7125;
}

.about h2{
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        /* line-height: 35px; */
        color: #0B7125;
}
.about p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 31px */
    color: #555555;
}
.about a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 27px; */
    /* identical to box height */
    background: #0B7125;
    border-radius: 50px;
    padding: 1em;
    color: #FFFFFF; 
}





/*appointment*/
.make-appointment{
    margin-top: 70px;
    position: relative;
    background:url('../gambar/heromake.png');
}
.make-appointment h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #FFFFFF;

}
.make-appointment h1 font{
    font-weight: bold;
    color: #0B7125;
    font-style: normal;
    font-size: 36px;
}
.make-appointment p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 31px */
    color: #FFFFFF;
}

.make-appointment a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    background: #0B7125;
    border-radius: 50px;
    padding: 1em;
    color: #FFFFFF;
}    
.make-appointment .img{
    width: 200px;
    position: absolute;
    margin-top: -95px;
}



/*layanan*/
.layanan h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
color: #0B7125;
}

.layanan p {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 175%;
/* or 24px */
color: #555555;
}


.layanan .button a{
font-style: normal;
font-weight: 600;
font-size: 18px;
text-decoration: none;
color: #FFFFFF;
background: #0B7125;
border-radius: 50px;
padding: 14px 20px;

}


.layanan .carousel-inner .carousel-item img {
    border-radius: 70px 0;
    /* width: 200px; */
    height: 300px;

}

.layanan .carousel-inner {
    position: relative;
}

.layanan .carousel-inner .bg-img {
    width: 558px;
    height: 300px;
    background: linear-gradient(0deg, #0B7125 9.43%, rgba(11, 113, 37, 0) 100%);
    border-radius: 50px 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    border-radius: 70px 0;
}

.layanan .carousel-item .carousel-caption .title {
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: capitalize;
}

.layanan .carousel-item .carousel-caption p {
    color: rgba(255, 255, 255, 0.9);
    text-transform: capitalize;
    font-weight: 500;

    font-size: 12px;
}






/*testimoni*/
.testimoni .judul h1{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 41px;

    color: #555555;
    margin-top: 100px;
    margin-left: 32px;
}

.testimoni .judul font{
    color: #0B7125;
    font-weight: 600;
}
.testimoni .judul p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */
    color: #555555;
    margin-top: 10px;
    margin-left: 32px;
}
.slide .boxslide{
    display: flex;
    width:100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(85, 85, 85, 0.25);
    border-radius: 0px 20px;
    padding:25px
}

.slide .boxslide .icon{
    width: 50px;
    height: 50px;
}
.slide .boxslide .texttesti{
    margin-top: 10px;
}
.slide .boxslide p{
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 137%;
    /* or 25px */
    color: #555555;
}
.slide .starimg img{
    /* width: 5px;
    height: 10px; */
}

.slide .boxslide .texttesti .pasien h1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    
    margin-top: 12px;
    color: rgba(85, 85, 85, 0.8);
    
}
.slide .boxslide .texttesti .pasien h1 font{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    
    color: rgba(11, 113, 37, 0.8);
}




/*certificatedoctor*/
.certifikatdoktor .title {
    font-weight: 600;
    font-size: 36px;
    color: #555;
}


.certifikatdoktor .doctor-name {
    font-weight: 600;
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
    
}

.certifikatdoktor .doctor-role {
    font-weight: 500;
    font-size: 14px;
    color: #0B7125;
    margin-bottom: 15px;
}

.certifikatdoktor .detail{
    font-weight: 500;
    font-size: 14px;
    color: rgba(85, 85, 85, 0.8);
    width: 243px;
    margin: 0 auto;
    
}

.certifikatdoktor img {
    border-radius: 50px 0;
    /* filter: drop-shadow(0px 10px 45px rgba(85, 85, 85, 0.25)); */
}



/*galery*/
.galeri{
    height: auto;
    margin-top: 100px;
    
    background: #EEEEEE;
    padding: 100px 0;
}
.galeri h2{
    /* padding-top: 100px; */
    text-align: center;
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #555555;
}
.galeri h1{
    margin-top: 19px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}

.galeri img {
border-radius: 50px 0;
}




/*location*/

.location .label{  
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #555555;
    
}
.location .label font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    /* B */
    color: #0B7125;
}


.location .desk h1{
    margin-top: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 54px;
    /* identical to box height */
    /* margin-top: 1.5em; */
    color: #0B7125;
}
.location .desk p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #555555;
    text-transform: capitalize;
}

.location .desk a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    background: #0B7125;
    border-radius: 50px;
    padding: 1em;
    margin-top: 2em;
}

.location img {
    border-radius: 50px 0;
}


/*artikel*/

.artikel{
background: #EEEEEE;
}
.artikel .title h1{
padding-top: 60px;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

color: #555555;
}
.artikel .title font{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

/* B */

color: #0B7125;

}

.artikel .card-1{
width: 350px;
height: auto;

background: #FFFFFF;
box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
border-radius: 0px 50px;
}

.artikel .card-1:hover {
transform: scale(1.1);
transition: .3s;
}

.artikel .card-1:hover a {
margin-left: 30px;
transition: .3s;
}

.artikel .card-1 .bg-img img {
    width: 350px;
    height: 250px;
    border-radius: 0px 50px 0 0;
    filter: opacity(.5);

}

.artikel .card-1 .bg-img {
    width: 350px;
    height: 250px;
    border-radius: 0px 50px 0 0;
    background-color: #0B7125;
}

.artikel .card-body {
    padding: 20px 40px;

}

.artikel .card-body .subtitle{
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #555555;
}

.artikel .card-body a{
text-decoration: none;
}   


.artikel .card-body a .card-title{
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #0B7125;
text-transform: capitalize;
}
.artikel .card-body .card-text{
font-style: normal;
font-weight: normal;
font-size: 18px;
margin-top: 25px;
width: 266px;
color: rgba(11, 113, 37, 0.7);  
}

.artikel .card-body .card-link{
font-style: normal;
font-weight: 600;
font-size: 15px;
text-decoration: none;
color: #0B7125;

}

.artikel .button{
margin-top: 4em;
display: flex;
justify-content: center;
}

.artikel .button a{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */
background: #0B7125;
padding: 0.75em;
border-radius: 50px;
text-decoration: none;
color: #FFFFFF;
}



@media (min-width: 768px) {
/*hero*/
.hero .judul{
font-size: 48px;
line-height: 72px;
}
.hero .desk{
line-height: 175%;
}




/*about*/
.about h2{
    font-size: 35px;
}

.about p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #555555;
    margin-bottom: 35px;
}



/*appointment*/
.make-appointment{
    margin-top: 130px;
}
.make-appointment p{
    line-height: 175%;
}
.make-appointment .img{
    width: 300px;
    margin-left: 280px;
    margin-top: -145px;
}


/*layanan*/
.layanan{
    margin-top: 120px !important;
}
.layanan .first-box{
margin-top: 135px;
}








/*testimoni*/
.testimoni .wrap{
    margin-left: -220px;
    padding: 0px 55px 0px 55px;
}
.slide .starimg img{
width: 40px;
}



/*certificatedoctor*/
.certifikatdoktor h1 {
    font-size: 36px;
}





/*galerry*/
.galeri{
    height: 650px;
    }



/*location*/
.location .desk h1{
    font-size: 36px;
    }
}