* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}


.contenhero {
    width: 100%;
    /* background-color: rgba(11, 113, 37, 0.1); */
    padding: 50px 0;
}

.contenhero .row .page{
    display: flex;
}

.contenhero .row .page .text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    
    color: #555555;
}
.contenhero .row .page .text font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #0B7125;
    
}
.contenhero .row .page .text p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;    
    color: rgba(85, 85, 85, 0.8);
    margin-top: 30px;
}


.visi-misi {
    
}

.visi-container {
    width: max-content;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 3px 53px rgba(149, 149, 149, 0.25);
    border-radius: 100px 0px;
    text-align: center;
    margin-top: 70px;
    padding: 50px;
}

.visi-container:hover {
    transform: scale(1.1);
    transition: .3s;
}

.header-visi {
    width: 150px;
    height: 51px;
    background: #0B7125;
    text-align: center;
    /* margin: 10px auto; */
    border-radius: 50px;
    margin: 5px auto;
    
}

.header-visi h1 {
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 51px;
    letter-spacing: 0.43em;
    color: #FFFFFF;
    text-transform: uppercase;
 
}

.visi-container p {
    /* font-family: Poppins; */
    /* width: 4px; */
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 36px; */
    color: #555555;
    text-transform: capitalize;
    width: 400px;
}





.our-team {
   
    width: 100%;
    /* height: 1645px; */
    margin-top: 100px;
    /* background: #eee; */
}

.our-team h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #555;
    /* font-weight: ; */
    
}

.card-doctor {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 80px;

}


.ket-doctor h3 {
    font-weight: 600;
    font-size: 24px;
    /* line-height: 36px; */
    /* text-align: center; */

    color: #555555;
}

.ket-doctor h5 {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 21px; */
    text-align: center;

    color: #0B7125;
}

.ket-doctor p {
    margin: 0 auto;
    width: 243px;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 21px; */
    /* text-align: center; */
    margin-top: 15px;
    color: rgba(85, 85, 85, 0.8);
}

