* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}

#hidden {
    display: none;
}







.articelkonten{
    height: auto;

    padding-top: 70px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}


.articelkonten .pagekonten .date{
    font-weight: normal;
    font-size: 14px;
    margin-top: 30px;
    text-transform: capitalize;
    color: #555555;
    
}

.articelkonten .pagekonten .date span {
    font-weight: 600;
    color: #0B7125;
}

.articelkonten .pagekonten h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* or 47px */
    
    text-transform: capitalize;
    margin-top: 40px;
    color: #0B7125;
}
.articelkonten .pagekonten h2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    margin-top: 30px;
    color: #555555;
}
.articelkonten .pagekonten .d-flex h5{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #555555;
}
.articelkonten .pagekonten .icon{
    /* margin-top: 40px; */
    margin-left: 15px;
}

.articelkonten .pagekonten .icon a {
    text-decoration: none;
    margin-right: 5px;
}



.articelkonten .pagepost{
    width: auto;
    height: auto;
    padding: 15px 20px;
    border: 1px solid rgba(85, 85, 85, 0.2);
    border-radius: 0px 50px;
    /* margin-left: 70px; */
}


.articelkonten .pagepost h1{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    color: #0B7125;
}

.articelkonten .pagepost .boxpost{
    margin-top: 30px;   
    /* box-shadow: 0px 4px 22px rgb(59, 59, 59, 0.25); */

}
.articelkonten .pagepost .boxpost img{
    width: 80px;
    height: 80px;
    border-radius: 20px 0;
}

.articelkonten .pagepost .boxpost .detail {
    margin-left: 10px;
}

.articelkonten .pagepost .boxpost .detail .title{
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    
    color: #0B7125;
}

.articelkonten .pagepost .boxpost .detail p{
    font-weight: normal;
    font-size: 10px;
    text-transform: capitalize;
    color: #555;
    margin-top: -.3rem;
}

.articelkonten .pagepost a {
    text-decoration: none;
}

.articelkonten .pagepost a:hover {
    text-decoration: underline;
}


/* .articelkonten .pagetag{
    width: 387px;
    height: 355px;
    margin-left: -30px;
    margin-top: 150px;
    padding: 30px 0px 30px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(85, 85, 85, 0.4);
    box-sizing: border-box;
    border-radius: 0px 50px;
} */

.articelkonten .pagetag h1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    /* B */
    
    color: #0B7125
}

.articelkonten .buttonbox{
    margin-top: 20px;
}

.articelkonten .buttonbox a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 15px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    background: #0B7125;
    border-radius: 0px 10px;
}


#form-comment label {
    color: #0B7125;
}


.comment-card .name {
    font-size: 14px;
    color: #0B7125;
    text-transform: uppercase;
    font-weight: 600;
}

.comment-card .time, .comment-card .message {
    font-size: 12px;
    color: #555;
}

.comment-card .time {
    margin-top: -15px;
    opacity: .7;
}


 .comment-card {
    box-shadow: 0px 4px 22px rgb(59, 59, 59, 0.25);
    /* padding: 15px 30px; */

}

