* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}
.contact{
    width: 100%;
    background-color: rgba(11, 113, 37, 0.1);
    padding: 127px 0;
}

.contact h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #0B7125;
}
.conten-page{
    height: auto;
    margin-top: 70px;
    padding: 30px;
    background: rgba(11, 113, 37, 0.1);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25); 
}

.conten-page .container .title {

    /* padding-top: 60px; */
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #555555;
}

.conten-page .container .title  span{
    color: #0B7125;
}


.conten-page .container .img-1 {
    /* padding-top: 45px; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: #0B7125;
}


.conten-page .container .img-1 .img-contact {
    display: flex;
    margin-bottom: 15px;
}

.conten-page  .img-1 .img-contact img{
    margin-right: 10px;
}




.conten-page .container .img-1 .img-contact a{
    text-decoration: none;
    color: #0B7125;
}

.conten-page  .icon a {
    text-decoration: none;
}

