* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    width: auto;
}

.conten
{
    width: 100%;
    background-color: rgba(11, 113, 37, 0.1);
    padding: 127px 0;
    text-align: center;
    margin-bottom: 70px;
}

.conten h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #0B7125;
}

.card {
    width: 1140px;
    min-height: 415px;
    background: #FFFFFF;
    box-shadow: 0px 16px 53px rgba(149, 149, 149, 0.25);
    border-radius: 0px 100px;
    padding: 50px;
}

.card h2 {
    font-weight: 600;
    font-size: 24px;
    /* line-height: 36px; */
    color: #555555;
}

.card h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #53B261;
    margin-top: -10px;
    margin-bottom: 20px;
}

.card  img {
    width: 463px;
    height: 215px;

}


.card .detail p {
    font-weight: 500;
    font-size: 18px; 
    color: rgba(85, 85, 85, 0.7);
    text-transform: capitalize;
}

.card .sm-icon img {
    width: 40px;
    height: 40px;
}


.card .sm-icon p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #555555;
    margin-left: 10px;
    margin-top: 5px;
}

.card .sm-icon p span {
    font-weight: 600;
    font-size: 18px;
    color: #0B7125;
}
