@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    
}


/* MAIN CONTENT */
.article-title {
    width: 100%;
    /* height: 600px; */
    margin-top: 0px;
    background-color: rgba(11, 113, 37, 0.1);
    padding: 127px 0;
}

.article-title h1 {
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #0B7125;
}

.article-title p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    /* width: 665px; */
    margin: 0 auto;
    color: rgba(11, 113, 37, 0.7);
    text-transform: capitalize;
}
.card{
    margin-top: 100px;
}




/* MAIN CONTENT */
.navbar-article {
    margin-top: 100px;
}

.navbar-article .navbar {
    border-bottom: 2px solid rgba(85, 85, 85, 0.5);
    margin-bottom: 50px;
}

.navbar-article .navbar .navbar-collapse ul li a {
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: rgba(85, 85, 85, 0.7);
}

.navbar-article .navbar .navbar-collapse ul li a:hover {
    color: #0B7125;
}

.navbar ul li a .nav-link:active {
    font-weight: bold;
    color: #0B7125;
}

.navbar .navbar-brand {
    font-size: 18px;
    font-weight: 600;
    color: #0B7125;
    text-transform: uppercase;
}


/* Box Article */
.box-article-list {
    width: 350px;
    height: auto;
    /* background-color: #eee; */
    /* box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */
    margin-bottom: 30px;
}

.box-article-list:hover{
    transform: scale(1.1);
    transition: .3s;
    
}



.box-article-list img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

/* .detail {
    padding: 20px;
} */

.detail .date {
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    margin-top: 10px;
    text-transform: capitalize;
}

.detail .date span {
    font-weight: 500;
    font-size: 14px;
    color: #0B7125;
    text-transform: capitalize;

}

.detail .title {
    font-weight: bold;
    font-size: 18px;
    color: #0B7125;
    margin-top: 20px;
    text-transform: capitalize;
}

.detail .mini-detail {
    font-weight: normal;
    font-size: 14px;
    color: #53B261;
    margin-bottom: 25px;

}



.box-article-list .button {
    background-color: #0B7125;
    padding: 7px 14px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 0px 10px;

}

.box-article-list .button:hover {
    background-color: white;
    border: 1px solid #0B7125;
    box-sizing: border-box;
    border-radius: 0px 10px;
    color: hsl(129, 38%, 51%);
    transition: .3s;
}

/* .button:hover {
    background-color: white;
    border: 1px solid #0B7125;
    box-sizing: border-box;
    border-radius: 0px 10px;
    color: hsl(129, 38%, 51%);
    transition: .3s;
}

.button:hover a {
    color: hsl(129, 38%, 51%);

} */

.box-article-list a {
    text-decoration: none;
}


.view span {
    color: #555;
    /* font-size: 12px; */
    font-weight: 500;
}



/* POPULAR ARTICLE */
.popular-article {
    margin-top: 100px;
    margin-bottom: 200px;
}


.popular-article .title {
    font-weight: 600;
    font-size: 36px;
    color: #555;
    margin-bottom: 50px;

}

.popular-article .article-card {
    width: 350px;
    height: auto;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px;
}


.popular-article .article-card .bg-img img {
    width: 350px;
    height: 250px;
    border-radius: 0px 50px 0 0;
    filter: opacity(.5);

}

.popular-article .bg-img {
    width: 350px;
    height: 250px;
    border-radius: 0px 50px 0 0;
    background-color: #0B7125;
}

.popular-article .article-card .article-detail {
    padding: 20px 40px;
}

.popular-article .article-card .date {
    font-weight: normal;
    font-size: 14px;
    color: #555;
    /* margin-top: 20px; */
    text-transform: capitalize;
}

.popular-article .article-card .date span {
    font-weight: 500;
    font-size: 14px;
    color: #0B7125;
    text-transform: capitalize;

}

.popular-article .article-card .title-article {
    
    font-weight: bold;
    font-size: 22px;
    color: #0B7125;
    margin-top: 20px;
    text-transform: capitalize;
    width: 250px;
}

.popular-article .article-card .sm-detail {
    font-size: 16px;
    margin-top: 25px;
    /* width: 266px; */
    color: rgba(11, 113, 37, 0.7);  
}

.popular-article .article-card .more-detail a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #0B7125;
    margin-top: 25px;
}

.popular-article .article-card .more-detail img {
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.popular-article .article-card:hover .more-detail{
    margin-left: 20px;
    transition: .3s;
}

.popular-article .article-card .more-detail a:hover{
    font-weight: bold;

}



.popular-article .button {
    margin-top: 70px;
}

.popular-article .button a {
    background-color: #0B7125;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 30px;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
}


.popular-article a {
    text-decoration: none;
}



/* .popular-article .button a:hover .{
    color: #bbb;
    transition: .3s;
} */
