@media screen and (max-width: 400px) {
    
}

@media screen and (max-width: 700px) {
    .articelkonten .pagepost {
        margin-right: 70px;
    }
}


@media screen and (max-width: 600px) {

    #visi-misi1 {
        transform: scale(.7);
        justify-content: end;
    }

    .main-content .box-article-list, .popular-article .article-card {
        transform: scale(.8);
    }

    .popular-article .title {
        font-size: 28px;
    }

    .articelkonten .pagepost {
        margin-right: 70px;
    }

}