
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    width: auto;

}

@media (max-width : 800px){
    .hero .container{
        width: 100%;
        height: 300px;
    }
}
.hero .container{
    margin-top: 136px;
    width: 100%;

    height: 600px;
}
.hero .container h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    
    /* B */
    
    color: #0B7125;
    
}
.hero .container p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */
    
    
    color: #555555;
    
}
.hero .container .button{
    margin-top: 40px;
}
.hero .container .button  a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    padding: 0.5em;
    background: #0B7125;
    border-radius: 50px;
    
    color: #FFFFFF;
    
}
.hero .container a img{
   float: right;
   margin-top: -350px;
}

.hero .container .navbar2{
    margin-top: 94px;
}
.grupimg .container a img{
    margin-right: 15px;
}
.about .container{
    margin-top: 100px;
}
.about .container h1{
    color: #555555;
    margin-left: 441px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}    
.about .container h1 font{
    color: #0B7125;
    font-size: 36px;
    font-weight: bold;
}
.about .container .heroabout{
    margin-top: 50px;
    
}
.about .container .heroabout h2{
        font-style: normal;
        font-weight: 600;
        font-size: 33px;
        line-height: 49px;
        /* identical to box height */


        /* B */

        color: #0B7125;

}
.about .container .heroabout p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */


    color: #555555;

}

.about .container .heroabout  a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    background: #0B7125;
    border-radius: 50px;
    padding: 0.5em;
    color: #FFFFFF;
    
}
.about .container .heroabout img{
    display: flex;
    float: right;
    margin-top: -250px;
    margin-left: 43px;
    
}
.make-appointment{
    margin-top: 200px;
    width: auto;
    height: 654px;
    background:url('../gambar/heromake.png');

}
.make-appointment .container h1{
    padding-top: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */


    color: #FFFFFF;

}
.make-appointment .container h1 font{
    font-weight: bold;
    color: #0B7125;
    font-style: normal;
    font-size: 36px;
}
.make-appointment .container p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */


    color: #FFFFFF;


}

.make-appointment .container a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    background: #0B7125;
    border-radius: 50px;
    padding: 0.5em;
    color: #FFFFFF;
}    
.make-appointment .container .img{
    position: absolute;
    display: flex;
    margin-top: 155px;
    margin-left: 250px;
}
.make-appointment .container .makeimg img{
    width: 400px;
    height: 536px;
    position: absolute;
    margin-left: 800px;
    margin-top: -180px;
}
.layanan .container{
    margin-top: 100px;
    display: flex;
    
}

.layanan .container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #0B7125;
}
.layanan .container p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    /* or 24px */
    color: #555555;
}
.box{
    width: 270px;
    height: 300px;
    left: 211px;
    top: 2712px;

    background: linear-gradient(0deg, #0B7125 9.43%, rgba(11, 113, 37, 0) 100%);
    border-radius: 100px 0px;
    float: left;
}
.box:hover{
    background: #000;
    z-index: 1;
    width: 270px;
    height: 300px;
    background: rgba(11, 113, 37, 0.7);

}

.layanan .boximg{

    width: 270px;
    height: 300px;
    left: 211px;
    top: 2712px;
    border-radius: 100px 0px;
    background: url('../gambar/boximg.png');
}

.layanan .container .box-1{
    flex-wrap: nowrap;
    margin-top: -100PX;
    
}
.layanan .container .box-1 .bok .boximg {
   margin-top: 40px;
}
.layanan .container .box-2{
    margin-left: -30PX;
    margin-top: 30PX;
    margin-top: -60PX;
}.layanan .container .box-2 .box-2 .boximg{
    margin-top: 40px;
}
.layanan .container .boximg{
    margin-left: 68px;
    margin-top: 100px;
}
.layanan .boximg .box h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    /* identical to box height, or 31px */
    margin-left: 30px;
    margin-top: 200px;
    color: #FFFFFF;    
}
.layanan .boximg .box p{
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
    /* or 16px */


    color: rgba(255, 255, 255, 0.7);
}
.layanan .flexbox .container .boximg {
    margin-left: 110px;
    margin-top: -550px;
}
.testimoni .testislide{
    display: flex;
    flex-wrap: nowrap;
}
.testimoni .testislide h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;

    color: #555555;
    margin-top: 100px;
    margin-left: 32px;
}
.testimoni .testislide h1 font{
    color: #0B7125;
    font-weight: 600;
}
.testimoni .testislide h1 p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */
    
    
    color: #555555;
    margin-top: 30px;
}
.slide-1{
    margin-top: 30px;
    display: flex;
    margin-left: 400px;
    margin-top: -300px;
}
.slide-2{
    margin-left: 20px;
}
.slide-1 .boxslide{
    display: flex;
    width: 415px;
    height: 230px;
    left: 440px;
    top: 3350px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(85, 85, 85, 0.25);
    border-radius: 0px 20px;
}
.slide-1 .boxslide1{
    margin-left: 20px;
    width: 415px;
    height: 230px;
    left: 440px;
    top: 3350px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(85, 85, 85, 0.25);
    border-radius: 0px 20px;
}
.slide-1 .boxslide img{
    width: 70px;
    height: 70px;
    padding-top: 20px;
    padding-left: 20px;
}
.slide-1 .boxslide .texttesti{
    margin-top: 44px;
    margin-left: 30px;
}
.slide-1 .boxslide p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
    /* or 25px */
    
    
    color: #555555;
}
.slide-1 .starimg img{
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-top: -20px;
}
.slide-1 .boxslide .texttesti .pasien h1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    
    margin-top: 12px;
    color: rgba(85, 85, 85, 0.8);
    
}
.slide-1 .boxslide .texttesti .pasien h1 font{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    
    
    color: rgba(11, 113, 37, 0.8);
}

.certifikatdoktor .container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    margin-top: 150px;
    margin-left: 450px;
    color: #555555;
}
.certifikatdoktor font{
    color: #0B7125;
}
.slides .owl-carousel .item img{
    width: 270px;
    height: 300px;
    margin-top: 50px;
}
.slides .owl-carousel .item .title h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    margin-left: 10px;
    color: #555555;
    
}
.galeri{
    height: 750px;
    margin-top: 100px;
    
    background: #EEEEEE;
}
.galeri h2{
    padding-top: 100px;
    text-align: center;
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #555555;
}
.galeri h1{
    margin-top: 19px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.galeri .galeriimg .item img{
    margin-top: 50px;
    width: 270px;
    height: 320px;
}

.location .container .title h1{
    margin-top: 100px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    color: #555555;
    
}
.location .container .title font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.location .container .page{
    display: flex;
    margin-top: 100px;
}

.location .container .page .text-page{
    margin-left: 20px;
}
.location .container .page .text-page h1{
    margin-top: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    margin-top: 1.5em;
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.location .container .page .text-page p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */
    
    margin-top: 1em;
    margin-bottom: 1em;
    color: #555555;
}

.location .container .page .button a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-decoration: none;
    color: #FFFFFF;
    background: #0B7125;
    border-radius: 50px;
    padding: 0.5em;
    margin-top: 100px;
}
.location .container .title h1{
    margin-top: 100px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    color: #555555;
    
}
.location .container .title font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.location-galuh .container .page{
    display: flex;
    margin-top: 100px;
}
.location-galuh .container .page img{
    margin-left: 20px;
}
.location-galuh .container .page .text-page h1{
    margin-top: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    margin-top: 1.5em;
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.location-galuh .container .page .text-page p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    /* or 31px */
    
    margin-top: 1em;
    margin-bottom: 1em;
    color: #555555;
}

.location-galuh .container .page .button a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-decoration: none;
    color: #FFFFFF;
    background: #0B7125;
    border-radius: 50px;
    padding: 0.5em;
    margin-top: 100px;
}

.artikel{
    height: 910px;
    margin-top: 230px;
    background: #EEEEEE;
}
.artikel .title h1{
    padding-top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    color: #555555;
}
.artikel .title font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    text-align: center;
    
    /* B */
    
    color: #0B7125;
    
}
.artikel .flex-container{
    padding-left: 50px;
    display: flex;
    margin-top: 70px;
}
.artikel .flex-container .card-1{
    width: 400px;
    height: 540px;
    left: 60px;
    top: 6638px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px;
}
.artikel .flex-container .card-body .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #555555;
}
.artikel .flex-container .card-body a{
    text-decoration: none;
}
.artikel .flex-container .card-body a .card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 111.5%;
    /* or 27px */
    
    color: #0B7125;
}
.artikel .flex-container .card-body .card-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 111.5%;
    /* or 20px */
    margin-top: 25px;
    
    color: rgba(11, 113, 37, 0.7);  
}
.artikel .flex-container .card-body .card-link{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* B */
    text-decoration: none;
    color: #0B7125;
}
.artikel .button{
    margin-top: 4em;
    display: flex;
    justify-content: center;
}
.artikel .button a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    background: #0B7125;
    padding: 0.75em;
    border-radius: 1em;
    text-decoration: none;
    color: #FFFFFF;
}